.slider {
  max-width: 500px;
}

.logo {
  display: inline-block;
}

ul {
  list-style: none;
}

#nav {
  display: inline-block;
  float: right;
}

#nav li {
  display: inline-block;
  margin-left: 40px;
}

body {
  max-width: 800px;
  margin: auto;
}
