.slider {
  max-width: 500px;
}

.logo {
  display: inline-block;
}

ul {
  list-style: none;
}

#nav {
  display: inline-block;
  float: right;
}

#nav li {
  display: inline-block;
  margin-left: 40px;
}

body {
  max-width: 800px;
  margin: auto;
}

li.chatting::before {
  background-color: #7cbc3c;
  content: ''; 
  border-radius: 50%;
  margin-right: -11px;
  padding: 0px 5px;
  position: relative;
  left: -21px;
  bottom: 2px;
  font-size: 8px;
}

#match-list li {
  text-align: left;
  padding-left: 1em;
  line-height: 27px;
}

