<div class="fade in">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">About Room Me!</h4>
    </div>
    <div class="modal-body">
      <p>This is a demo app built by Blaise Gratton for a Nashville Software School capstone project. While it is fully
         functioning, it is not intended for actual use - but if you find a viable roommate from it, more power to you. </p>
      <p>Room Me is powered by AngularJS and Bootstrap on the front end, with Firebase managing the hosting and data persistence on the 
         back end. The Craigslist search feature leverages the power of 3taps.com's API to query local postings.</p>
    </div>
  </div>
</div>

