<div class="fade in">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">License</h4>
    </div>
    <div class="modal-body">
      <p>Room Me was created under an open-source MIT license. Any use or modification of it is encouraged, but 
         all liability is waived from any use of this software.</p>
      <h4>About 3taps.com</h4>
      <p>3taps.com gathers its information from purely public sources. It has been extensively involved in the heated
         debate regarding the use of and access to publicly posted information. To learn more about these legal issues,
         check out their <a target="_blank"href="https://3taps.com/images/pics/430_Statement%20Re%20craigslists%20Misuse%20of%20the%20CFAA.pdf">public statement</a> on the matter.</p>
    </div>
  </div>
</div>

