<div class="fade in">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Privacy</h4>
    </div>
    <div class="modal-body">
      <p>Your privacy is important and respected. Room Me will never require you to give out your email to any user 
         whatsoever. The chat feature employs username aliases so email is never necessary to communicate with your 
         matches. Should you need to, it is possible to block anyone whom you no longer feel comfortable with.</p>
    </div>
  </div>
</div>

