<div class="chat-wrapper">
  <div class="shared-container">
    <div class="chat-container">
      <h3>Chat with {{chatCtrl.match}}</h3>
      <ul id="messages" class="messages"></ul>
      <input type='text' id='messageInput' placeholder='Type a message...'>
    </div>
    <div class="saved-posts">
      <h3>Saved Posts</h3>
      <ul ng-model="chatCtrl.savedResults">
        <li ng-repeat="(listingId, listing) in chatCtrl.savedResults"><a ng-click="chatCtrl.removeListing(listingId)">Remove</a><a class="listing" target="_blank" ng-href="{{listing.url}}">{{listing.heading}}</a></li>
      </ul>
    </div>
  </div>
  <div class="info-search-container">
    <div class="match-info">
      <h3>About {{chatCtrl.match}}</h3>
      <p>{{chatCtrl.matchInfo.info.about}}</p>
      <h5>You and {{chatCtrl.match}} are interested in:</h5>
      <ul>
        <li ng-repeat="area in chatCtrl.matchedAreas">{{area}}</li>
      </ul>
    </div>
    <div class="craigslist-container">
      <div>
        <h3>Search Craigslist</h3>
        <button class="btn btn-link" ng-click="chatCtrl.findHousing()">Find Housing</button>
      </div>
      <select ng-model="chatCtrl.userQueries.bedrooms">
        <option value="1br">1 bedroom</option>
        <option value="2br">2 bedrooms</option>
        <option value="3br">3 bedrooms</option>
        <option value="4br">4 bedrooms</option>
        <option value="5br">5 bedrooms</option>
      </select>
      <select k-ng-model="chatCtrl.userQueries.areas" id="area-selector" ng-model="chatCtrl.userQueries.area">
        <option value="" disabled>-Select an area-</option>
        <option ng-repeat="area in chatCtrl.userQueries.areas" value="{{area}}">{{area}}</option>
      </select>
      <select k-ng-model="chatCtrl.stamp" ng-model="chatCtrl.timestamp">
        <option disabled>-Select a time range-</option>
        <option value="1d..">Within 24 Hours</option>
        <option value="7d..1d">Within the Past Week</option>
        <option value="14d..7d">1-2 Weeks Ago</option>
        <option value="21d..14d">2-3 Weeks Ago</option>
        <option value="31d..31d">3-4 Weeks Ago</option>
      </select>
      <div id="results-list" ng-show="chatCtrl.results">
        <h4>Results ({{chatCtrl.results.length}})</h4>
        <ul>
          <li ng-repeat="result in chatCtrl.results"><a ng-click="chatCtrl.saveListing(result)">Save</a><a class="listing" target="_blank" ng-href="{{result.external_url}}">{{result.heading}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
