

<form name="editProfile" ng-submit="profCtrl.submitProfile()" novalidate>
  <div class="form-group">
    <label>Username:</label>
    <input class="form-control" type="text" ng-model="profCtrl.user.info.username" required>
  </div>
  <div class="form-group">
    <label>About:</label>
    <textarea class="form-control" ng-model="profCtrl.user.info.about" required></textarea>
  </div>
  <div class="form-group" id="area-input">
    <label id="area-input-label">Area(s) Desired:</label>
    <div class="form-control">
      <label ng-repeat="area in profCtrl.areas">
        <input type="checkbox" checklist-value="area" checklist-model="profCtrl.user.info.areas"><span>{{area}}</span>
      </label>
    </div>
  </div>
  <input type="submit" value="Save">
</form>

