<div class="landing-wrapper col-xs-12">
  <div class="col-xs-2 col-sm-1"></div>
  <div class="carousel col-xs-8 col-sm-5 col-md-4">
    <ul class="panes">
      <li>
        <h2>Feel like this?</h2>
        <img src="../img/117H.jpg" alt="">
      </li>
      <li>
        <h2>Want more of this?</h2>
        <img src="../img/155H.jpg" alt="">
      </li>
      <li>
        <h2>Sick of annoying roommates?</h2>
        <img src="../img/164H.jpg" alt="">
      </li>
      <li>
        <h2>...or this?</h2>
        <img src="../img/55H.jpg" alt="">
      </li>
      <li>
        <h2>Let's get you there.</h2>
        <img src="../img/57H.jpg" alt="">
      </li> 
    </ul>
  </div>
  <div class="landing-title col-xs-12 col-sm-6 col-md-7">
    <h1>Room Me!</h1>
    <p>A place for finding the perfect fit.</p>
  </div>
  <div class="landing-info col-xs-12">
    <div class="col-sm-1 col-md-2"></div>
    <p class="col-xs-12 col-sm-10 col-md-8"><span>Room Me</span> matches you with other people looking for roommates. Create a profile, take the quiz on your living style, and match with people like you.</p>
  </div>
</div>

