<div class="register-page">
  <form name="registerForm" ng-submit="register.register()" novalidate>
    <div class="form-group" ng-class="{'has-error': registerForm.$dirty && !register.email}">
      <label>Email Address:</label>
      <input class="form-control" type="email" ng-model="register.email" required>
    </div>
    <div class="form-group" ng-class="{'has-error': registerForm.$dirty && !register.password}">
      <label>Password:</label>
      <input class="form-control" type="password" ng-model="register.password" required>
    </div>
    <input type="submit" class="register btn btn-primary btn-block" value="Register" ng-class="{disabled: registerForm.$invalid}">
  </form>
</div>
